<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Where I Have Gone</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/firefly.jpg" alt="firefly health">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2019-2025</h4>
                                    <h4 class="subheading">Firefly Health</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Wanting to explore the intersect of tech and something bigger, I found myself drawn to healthcare. A startup with incredible people, I joined the team as the second engineer, taking on the mission of attempting to fix healthcare. Led the Operations team working alongside clinicians to tech empower convenient, continuous care that is twice as good for half the cost.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/wayfair.jpg" alt="wayfair">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2019</h4>
                                    <h4 class="subheading">Wayfair Inc.</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">My team, Transportation Final Mile Routing, tackles optimizing delivery routes of large parcel item to the customer with cost and speed parity to our competitors. I am currently leading the development of a simulation engine to stress test our routing algorithms to handle the projected growth of volume. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/samsung.jpg" alt="samsung research america">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-2017</h4>
                                    <h4 class="subheading">Samsung Research America Intern</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">This summer I was fortunate enough to get a glimpse of the complex world of battery research. As the only software engineer on the team, I was responsible for creating a platform to display data and perform digital experiments. My days were filled with crash courses on crystallography and exploring WebGL.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bu.jpg" alt="boston university">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2017</h4>
                                    <h4 class="subheading">Boston University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Entering Boston University with a two year break from academia gave me the freedom and clarity to pursue my interests with no hinderance. Graduated Magna Cum Laude with a computer science and international relations double major and a passion to promote women in tech. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gpa.jpg" alt="generation peace academy">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2012</h4>
                                    <h4 class="subheading">Generation Peace Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">GPA taught me resilience and perseverance. Fundraising on the streets to fund our tsunami relief efforts in Japan required trudging through rejections and finding gratitude in the mundane. Bringing joy to those less fortunate is the reason I continue to volunteer. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/imsa.jpg" alt="imsa">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2011</h4>
                                    <h4 class="subheading">Illinois Math and Science Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am incredibly grateful to be a part of the IMSA community and my first three years living away from home. This is where I learned to love dance, became involved in leadership development, and fell in love with philosophy. IMSA was the first place to encourage me to embrace my nerdiness.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>