<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">What I have done so far</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/bu.jpg" alt="boston university">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013-2017</h4>
                                    <h4 class="subheading">Boston University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Entering Boston University with a two year break from academia gave me the freedom and clarity to pursue my interests with no hinderance. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gpa.jpg" alt="generation peace academy">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011-2012</h4>
                                    <h4 class="subheading">Generation Peace Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">GPA taught me resilience and perseverance. Fundraising on the streets to fund our tsunami relief efforts in Japan required trudging through rejections and finding gratitude in the mundane. Bringing joy to those less fortunate is the reason I continue to volunteer. </p>
                                </div>
                            </div>
                        </li>
                         <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/imsa.jpg" alt="imsa">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008-2011</h4>
                                    <h4 class="subheading">Illinois Math and Science Academy</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I am incredibly grateful to be a part of the IMSA community and my first three years living away from home. This is where I learned to love dance, became involved in leadership development, and fell in love with philosophy. IMSA was the first place to encourage me to embrace my nerdiness.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>