<nav class="top" id="topnav">
  <div class="wrap inner">
    <a class="mark" href="{{ '/' | prepend: site.baseurl }}#top"><span class="dot"></span> Satoe Sakuma</a>
    <ul>
      <li><a href="{{ '/' | prepend: site.baseurl }}#about">About</a></li>
      <li><a href="{{ '/' | prepend: site.baseurl }}#journey">Journey</a></li>
      <li><a href="{{ '/' | prepend: site.baseurl }}#projects">Projects</a></li>
      <li><a href="{{ '/' | prepend: site.baseurl }}#contact">Contact</a></li>
    </ul>
  </div>
</nav>
